* {
  scrollbar-width: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.app__form {
  padding: 6px;
  position: fixed;
  bottom: 3.3px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  height: 7vh;
  object-fit: contain;
  /* margin: 0 auto 0 15px; */
  /* border-radius: 15px; */
}

.random {
  height: 81vh;
  overflow-y: scroll;
  object-fit: contain;
  background-color: #a084ca;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  z-index: 2;
  padding: 0 6px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
